#footer {
    background-color:black;
}

#footer-container {
    background-color: green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#footer-wrap {
    @media (max-width: 768px) {
            padding: 0;
        }
}

#footer-intro {
    padding-top: 20px;
    padding-bottom: 10px;
}
#footer-info {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-info-address {
    padding-bottom: 10px;
}

#footer-info-open {
    padding-bottom: 10px;
}

#footer-links {
    padding: 5px;
    div {
        padding-bottom: 5px;
    }
    @media (min-width: 1000px){
        padding-bottom: 0;
    }
}
#footer-copy {
    padding: 5px;
    div {
        padding-bottom: 5px;
    }
    @media (min-width: 1000px){
        padding-top: 0;
        margin-top: -10px;
    }
}

.footer-icon {
    width: 25px;
    margin-right: 20px;
}